{% extends 'base.html' %}
{% block title %}
Contact
{% endblock title %}
{% block body %}
<div class="card">
    <div class="card-header" style="background-color: rgb(95,87,87);
    text-align: center;font-family: 'Noto Sans JP'; text-decoration-style: solid;
    padding: 5px; height: 50px; font-size: x-large;
    color: rgb(247, 246, 242);">

        Contact </div>
    <div class="card-body"
        style="background-color: rgba(219, 216, 212, 0.13); display: flex; align-content: space-around;">


        <pre style="font-size: 20px;font-family: ''Noto Sans JP', sans-serif';
        font-weight: 400;">
        
        Donation Name:
        Name : Jeevan Chhajed
        Email : jeevanchhajedxx@gmail.com
        Address : Pune

        </pre>

    </div>

</div>
{% endblock body %}