{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}
<div style="background-image: url(../static/photo-1560622972-b7d7ca2dd95c.jpg); width: 100%; height: 725px; background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover; margin-top: -115px;
   background-position: center;">
    <div 
      style="background: transparent; color: rgb(255, 255, 255); 
      margin-left: -10px;
      padding-top: 270px;
      padding-bottom: 60px;
      font-size: 40in;
      font-family:'Noto Sans JP', sans-serif;
      font-weight: 300; 
      text-align: center;
      padding-right: 600px;
      ">
    <h4 style="text-decoration: none; color: rgb(245, 239, 240); text-align: left; margin-left: 100px;">New hope for near future.</h5>
      <h1 style="text-decoration: none; color: rgb(245, 239, 240); text-align: left; margin-left: 100px;"><b>No one has every become <br>poor by giving.</h1>
    <h4 style="font-weight: lighter; text-decoration: none; color: rgb(245, 239, 240); text-align: left; margin-left: 100px;">
      Toegher we can make difference.</h4>
  </div>

  <div style="margin-left: 90px; padding-bottom: 50px; padding-top: 0px; margin-top: -50px;">
    <button type="button" class="button">
      <span>
        <a href="donate" style="text-decoration: none; color: rgb(245, 239, 240);">Donate !</a>
      </span>
    </button>
  </div>


</div>





{% endblock body %}